# Core Web Framework
fastapi
uvicorn
pydantic
pydantic_settings
python-multipart

# Auth & Security
python-dotenv
python-jose[cryptography]
passlib[bcrypt]

# AI & Computer Vision
# torch
# torchvision (Install directly in Dockerfile)
# pip install --no-cache-dir torch torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
timm>=0.9.0
pillow
opencv-python-headless

# UI & Utilities
gradio
requests